@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@400;600&display=swap");

:root {
  --satoshi-switch: "Satoshi", sans-serif;
}

:root {
  --f3-grey: #f3f3f3;
}

* {
  box-sizing: border-box;
}

.join-form {
  padding: 50px 8%;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
  max-width: 810px;
  margin: 0 auto 15px;
}

.form-header {
  margin-bottom: 25px;
  color: #000;
  font-size: 43px;
  text-align: center;
  line-height: 49px;
  font-family: var(--satoshi-switch);
}

.registration-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  font-family: var(--satoshi-switch);
}

.form-select {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 6px;
  line-height: 50px;
  color: #000000;
  background-color: #fff;
  line-height: 20px;
  margin-left: 0;
  padding-left: 15px;
  padding-right: 0;
  display: block;
  padding: 12px 12px;
  font-size: 14px;
  border-color: #000;
}

h1 {
  margin: 0.67em 0;
  display: block;
}

.name-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 15px;
}

.form-input {
  border: 1px solid black;
  border-radius: 6px;
  height: 50px;
  display: block;
  padding: 8px 12px;
  line-height: 1.42857143;
  background: #fff;
  color: #333333;
  font-size: 16px;
  font-family: var(--satoshi-switch);
}

.gender-selection {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.gender-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 70px;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
}

.gender-option:hover {
  background-color: #e9ff86;
}

.gender-input input[type="checkbox"] {
  width: 13px;
  height: 13px;
  margin-left: 0;
  margin-top: 15px;
  line-height: normal;
}

.gender-input {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 10px;
}

.gender-label {
  font-family: var(--satoshi-switch);
  color: #000;
  font-size: 15px;
  font-weight: 700;
}

.gender-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.consent-notice {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  display: block;
  background-color: var(--f3-grey);
  text-align: center;
  border-radius: 9px;
  padding: 13px;
}

.consent-checkbox {
  display: flex;
  gap: 15px;
  align-items: center;
}

.consent-text {
  font-size: 12px;
  font-family: var(--satoshi-switch);
  color: #000;
  text-align: left;
  cursor: pointer;
  font-weight: normal;
  line-height: 1.4;
}

.consent-checkbox input[type="checkbox"] {
  width: 13px;
  height: 13px;
  margin-left: 0;
  margin-bottom: 0;
}

.form-description {
  margin-bottom: 15px;
  font-family: var(--satoshi-switch);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  color: #666;
}

.text-consent-options {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.consent-option {
  width: 100%;
  height: 57px;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.consent-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.consent-option:hover {
  background-color: #e9ff86;
}

.consent-input input[type="checkbox"] {
  width: 13px;
  height: 13px;
  margin-left: 0;
  margin-top: 15px;
  line-height: normal;
}

.consent-label {
  font-family: var(--satoshi-switch);
  color: #000;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
}

.sms-consent-notice {
  width: 100%;
  height: auto;
  background-color: var(--f3-grey);
  text-align: center;
  border-radius: 9px;
  padding: 13px;
  margin-top: 15px;
  margin-bottom: 55px;
}

.sms-consent-checkbox {
  display: flex;
  align-items: center;
}

.sms-consent-text {
  font-size: 12px;
  color: #000;
  text-align: left;
  cursor: pointer;
  margin-left: 15px;
  line-height: 15px;
}

.sms-consent-checkbox input[type="checkbox"] {
  width: 13px;
  height: 13px;
  margin-left: 0px;
  margin-bottom: 40px;
}

.submit-btn {
  width: 100%;
  height: 60px;
  background-color: #5db3d6;
  color: #fff;
  border-radius: 9px;
  padding: 17px;
  font-size: 18px;
  line-height: 26px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-family: var(--satoshi-switch);
  font-weight: 600;
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 35px;
}

.submit-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
